.container{
    display: flex;
    flex-direction: row;
}

.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd; /* Jaśniejsza granica */
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Dodanie cienia dla lepszego wyglądu */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.loginForm h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

/* Style dla inputów */
.loginInput {
    width: 100%;
    padding: 12px;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #333;
    transition: border-color 0.3s ease;
}

.loginInput:focus {
    outline: none;
    border-color: mediumpurple; /* Kolor granicy na focus */
}

/* Przyciski */
.loginButton {
    margin-top: 3rem;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: mediumpurple;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



button:active {
    background-color: #6a1f8d; /* Ciemniejszy kolor przy kliknięciu */
}

/* Dodatkowe style przy responsywności */
@media (max-width: 500px) {
    .loginForm {
        width: 90%; /* Zmniejszamy szerokość formularza przy małych ekranach */
    }
}

p{
    text-align: left;
}
.Form{
    width: 100%;
}