.navBar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid mediumpurple;
  }

.navBar div {
    display: flex;
}

.navBar a {
    color: black;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.navBar a:hover {
    color: rgb(108, 139, 255);
    transition: 0.5s;
}

.pages a.active {
    color: rgb(3, 168, 173);
}
.navBar{
    position: relative;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    background-color: white;
    z-index: 10;
    padding-top: 20px;
}

.dropdownMenu a {
    padding: 15px;
    text-align: center;
    border-bottom: 0.5px solid #959191;
}

@media (max-width: 768px){
    .navBar {
        justify-content: center;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 1;

    }
    .logo{
        object-fit: contain;
        width: 45%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .icon{
        position: relative;
        height: 70%;
        width: auto;
    }
    .navBar a {
        width: 10%;
        align-content: center;
        padding-left: 0;
    }
    .dropdownMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 10;
        padding-top:0;

    }
    .category{
        position: relative;
        padding: 20px;
        border-bottom: 1px solid #959191;
        width: 80%;
        text-align: center;
        justify-content: center;
        font-size: 30px;
        color: black;
    }

    .subcategory {
        display: flex;
        flex-direction: column;
        padding:0;
        text-align: center;
        width: 70%;
        font-size: 20px;
    }
    .subcategory a {
        width: 100%;
    }
}

