.tile {
    width: 100%; 
    padding-top: 100%;
    border-radius: 15px;
    padding: 0rem;
    box-sizing: border-box; 
}
.previewImage{
    margin-bottom: 0.5rem;
    object-fit: fill;
    /* padding-top: 75%; */
    /* background-color: blue; */
    /* opacity: 0.5; */
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .products {
        grid-template-columns: 1fr; 
    }
}