#root {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }

body{
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    background-color: rgb(149, 137, 216);
    margin: 0;
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}